
body{
	
	margin:0;
	padding: 0;
	font-family: 'Roboto', sans-serif;
	margin: 0 auto;
}

h1,h3{
	margin:0;
}

header{
	width: 100%;
	height: auto;
	background-color: #eee;
	position:relative;
	padding-bottom:1%;
	border-bottom: 1px solid #aaa;
}

#img-div{
	max-width:100%;
	margin: 0 auto;
	position: relative;
}

img{
  animation-name: slide;
  animation-duration: 9s;
  animation-iteration-count: infinite;
}

#image{
  max-width: 100%; 
  display: block; 
  height: auto;
  margin: auto;

}

 #image2{
	 top:0;
	  position:absolute;
	  max-width: 100%;  
	  height: auto;
      margin: auto;
	  
	  animation-delay: 3s;
 }
 
#image3{
	top:0;
	  position:absolute;
	  max-width: 100%;  
	  height: auto;
      margin: auto;
	  
	  animation-delay: 6s;
  }


@keyframes slide{
   25% { opacity: 1;}
   33.33% { opacity: 0;} 
   91.66% { opacity: 0;}
   100% { opacity: 1;}
	
}


#title{
	color:#444;
	margin:0 0 0 1%;
	max-width:400px;
}

#img-caption{
	color:#222;
	margin:0 0 0 1%;
}

main{
	padding:2%;
}

#headline{
	text-align:center;
}

#tribute-info ul{
	display: grid;
	grid-template-columns: repeat( auto-fill, minmax(400px, 1fr));
	grid-gap:10px;
  
}

#tribute-info li{
	border: 1px solid #aaa;
	padding:10px;
	list-style-type: none;
	
}

footer{
	background-color:#eee;
	text-align:center;
}


